<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- clear to make sure that everyone uses the same sources -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="devexpress" value="https://nuget.devexpress.com/lmVSXvmbD9Xajm7H2l8msfzm3efrhBMDQagP3Xkd1iqicUMO8g/api/v3/index.json" />
	</packageSources>
</configuration>